@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import "../.././scss/reset.scss";
@import "../.././scss/mq_setting.scss";
@mixin product_img(
                    $nth:"2",
                    $img-url: "01"
                  ) {
                &:nth-child(#{$nth}) {
                  .product_container__img {
                    background-image: url("../../img/coding/product_#{$img-url}.jpg");
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    min-height: 230px;
                    @include mq(xlarge) {
                      height: 300px;
                    }

                    background-color: salmon;
                  }
                }
          }
@mixin content_centering($top:0,$bottom:0,$left:0,$right:0,$position:absolute) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  margin: auto;
}
@mixin nav_inner($gap:50px) {
  display:grid ;
  grid-template-columns: repeat(4,max-content);
  grid-column-gap: $gap;
  li {
    > a {
      display: block;
      @include content_centering($position:relative);
    }
  }
}
@mixin grid_layout(
  $column-gap:1.5rem,
  $template-colomns:repeat(4,max-content),
  $row-gap:0,
  $template-rows: none,
  $justify-content:center,
  ) {
    display: grid;
    grid-column-gap: $column-gap;
    grid-template-columns: $template-colomns;
    grid-row-gap: $row-gap;
    grid-template-rows: $template-rows;
    justify-content: $justify-content;
  }

@mixin navBtn {
  .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 0px;
  }

  .navBtn_line {
    transition: all .6s;
    width: 28px;
    height: 2px;
    right: 15px;
    background-color: $black;
    position: absolute;
    &_1 { top: 8px;}
    &_2 { top: 17px;}
    &_3 { top: 26px;}
  }


}

@mixin navBtn_circle($top:0) {
  position: fixed;
  right: 1rem;
  top: $top;
  line-height: 38px;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px $black solid;
  border-radius: 50px;
  cursor: pointer;
  z-index: 200;
}

@mixin product(
  $start_num,
  $end_num
  ) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  justify-content: center;
  margin-bottom: 100px;
  .product_container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3,auto);
    font-size: 1.5rem;
    position: relative;
    box-shadow: -1px 1px 10px 3px rgba($black, $alpha: 0.1);

    > a {
      // position: absolute;
      @include content_centering;
      width: 100%;
      height: 100%;
      z-index: 100;

    }
    
    &__img {
      position: relative;
      grid-row: 1;
      grid-column: 1 / 3;


      &--menu {
        z-index: 200;
        display: flex;
        width: fit-content;
        height: fit-content;
        @include content_centering;
        font-size: 2rem;
        li {
          display: none;
          position: relative;
          width: 50px;
          height: 50px;
          margin: 5px;
          
          > a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            // background-color: $white;
            border: 1px solid $black;
            border-radius: 50px;
            transition: .6s;
            color: $black;
            > i {
              @include content_centering;
              width: fit-content;
              height: fit-content;
              
            }

            &:hover {
              background-color: $black;
              color: $light_yellow;
            }
          }
        }
        

      }
    }
    h3 {
      grid-column: 1;
      grid-row: 2;
      font-size: 1.4rem;
      margin-left: 10px;
    }

    &__price {
      font-weight: 700;
      grid-column: 2;
      grid-row: 2;
      text-align: right;
      margin-right: 10px;
      &::before {
        content: "￥";
      }
      &.sale {
        color: $red;
        &::before {
          content:"sale ￥"
        }

      }
    }

    position: relative;

    &__genre {
      grid-row: 3;
      grid-column: 1 / 3;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    $num:"";
    $nth_num: 1;
    $img_num:$end_num - ($start_num - 1);
    @while $nth_num <= $img_num {
      @if $start_num < 10 {
        $num: "0#{$start_num}";
      } @else {
        $num: $start_num;
      }
      @include product_img(
        $nth:$nth_num,
        $img-url:$num
        );
      $nth_num: $nth_num + 1; 
      $start_num :$start_num + 1;
    }
  }

}
$white:#FFF;
$black:rgb(10, 94, 140);
$yellow:rgb(239, 216, 42);
// $light_yellow:rgb(255, 241, 139);
$light_yellow:rgb(245, 233, 139);
$light_blue:lightblue;
$light_pink:peachpuff;
$pink:rgb(237, 103, 94);
$red:rgb(222, 77, 44);
@mixin title_font {
  font-family: 'Montserrat';
  font-weight: 700;
}



* {
  
  font-family: 'Noto Sans JP', sans-serif;
  
}
html {
  font-size: 10px;
  color: $black;
  a {
    transition: .6s;
    color: $black;
    text-decoration: none;
    @include mq(xlarge) {
      &:hover {
        color: $pink;
      }
    }
    
  }
}
.coding_02 {
  width: 100%;
  height:fit-content;
  
  

  nav {
    background-color: $light_yellow;
    position: relative;
    #sitetitle {
      @include title_font;
      fill: $black;
      svg {
        position: relative;
        margin-right: 1rem;
      }
      
    }


      @include mq(xlarge, max, true) {
        #sitetitle {
          font-size: 2.2rem;
          svg {
            width: 3rem;
            top: 6px;
          }
        }
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        padding: 10px 20px 20px 20px;
        z-index: 300;
        font-size: 1.8rem;
        font-weight: 700;
        ul#nav {
          li {
            margin: 10px;
            ul.nav_inner {
              &__right {
                font-size: 1.7rem;
              }
            }
          }
        }
        ul#circleBtn {
          position: absolute;
          top: 0;
          li {
            
            &.favorite {
              @include navBtn_circle($top:12rem);
            }
            &.cart_link {
              @include navBtn_circle($top:7rem);
            }
          }
        }
      }
      @include mq(xlarge) {
        display: grid;
        grid-template-columns: max-content auto;
        grid-column-gap: 50px;
        padding: 30px 50px;
        #sitetitle {
          font-size: 3rem;
          grid-column: 1;
          align-self: center;
          letter-spacing: 1px;
          svg {
            width: 5rem;
            top: 10px;
            margin-right: 1rem;
          }
        }
    
        ul#nav {
          display: grid;
          grid-template-columns: max-content auto;
          grid-column-gap: 50px;
          align-self: end;
          li {
            line-height: 30px;
            font-size: 1.3rem;
            letter-spacing: 1px;
            font-weight: 900;
            align-self: end;
            i {
              font-size: 1.6rem;
            }
            ul.nav_inner {
              
              
              &__left {
                @include nav_inner();
                li a {
                  @include title_font;
                }
                
              }
    
              &__right {
                @include nav_inner($gap:10px);
                
                justify-content: right;
                li {
                  
                  > a {
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                  }
                  &.cart_link {
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                  }
                }
              }
            }
    
          }
    
        }

        ul#circleBtn {
          
          
          li {
            i {
              font-size: 1.6rem;
            }
            
            &.favorite {
              position: absolute;
              top:56px;
              right: 23rem;
              // @include navBtn_circle($top:12rem);
            }
            &.cart_link {
              position: absolute;
              top:56px;
              right: 182px;
              // @include navBtn_circle($top:7rem);
            }
          }
        }
  
    }

  }
  


  
  


  

  .contents {
    
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    background-color: $light_pink;


    &__top_banner_container {
      width: 100%;
      height: 90vh;
      
      
      .swiper-slide{

          &__1 {
            width: 100%;
            height: 100%;
            background-image: url("../.././img/coding/product_15.jpg");
            background-size: cover;
            background-position: 0 55%;
          }
          &__2 {
            width: 100%;
            height: 100%;
            background-image: url("../.././img/coding/product_14.jpg");
            background-size: cover;
            background-position: center 90%;
          }
          &__3 {
            width: 100%;
            height: 100%;
            background-image: url("../.././img/coding/product_16.jpg");
            background-size: cover;
            background-position: right 90%;
          }
      }

      @include mq(xlarge,max,true) {
        .swiper-button-prev ,
        .swiper-button-next {
          display: none;
        }
      }

    }
    &__main_container {
      background-color: $light_blue;
      margin: 40px 0;
      padding: 40px 40px 100px 40px;

      h1 {
          @include title_font;
          text-align: center;
          font-size: 3rem;
          margin: 3rem 0;

        }
      &--featured_products {
        @include product(
          $start_num:1,$end_num:4
          );
      }

      &--new_collection {
        @include product(
          $start_num:5,$end_num:12
          );
      }
    }
    @include mq(xsmall) {
      @include mq(xlarge, max, true) {
        padding:  90px 10px 10px 10px;
        &__top_banner_container {
          height: 70vh;
        }
      }
    }

    @include mq(medium, max, true) {
      &__top_banner_container {
        height: 50vh;
      }
      &__main_container {
        padding: 100px 20px;
      }
    }

  }


  footer {
    color: $light_yellow;
    font-size: 1.6rem;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    z-index: 300;
    background-color: $black;
    
    svg {
      width: 80px;
      fill:$light_yellow;
      
    }
    .footer {
      @include grid_layout(
        $template-rows:repeat(5,auto),
        $template-colomns:repeat(1,100%),
        $row-gap:2rem
      );

      &__text {
        margin: 2rem 0;
        @include mq(medium) {
          br:first-of-type {
            display: none;
          }
        }
        
      }
      
      &__sns {
        @include grid_layout;
        font-size: 2.3rem;
        @include mq(xlarge) {
          li a:hover {
            color: $black;
            background-color: $light_yellow;
          }
        }
        li a {
          display: block;
          color: $light_yellow;
          border: 1px solid $light_yellow;
          border-radius: 50px;
          width: 40px;
          height: 40px;
          line-height: 36px;
        }

      }

      &__menu {
        @include mq(medium) {
          br:first-of-type {
            display: none;
          }
          @include grid_layout( 
          $column-gap:5rem,
          $template-colomns:repeat(5,max-content)
          );

          li a:hover {
            color: $pink;
          }
        }
        
        font-size: 1.4rem;
        
        li a {
          @include title_font;
          align-self: center;
          padding: 3px 0.3rem;
          display: block;
          color: $light_yellow;
          line-height: 36px;
        }
      }
      &__card {
        margin-top: 40px;
        padding: 10px 10px 0 10px;
        border-top: 1px solid rgba($light_yellow, $alpha: .5);
        @include grid_layout(
          $template-colomns:1fr repeat(5,max-content),
          $justify-content: center,
          $column-gap:1rem
        );
        font-size: 2.5rem;
        width: 100%;
        li:first-child { // copylight
          font-size: 1.3rem;
          text-align: left;
          align-self: center;
        }
      }
    }
    
  }



  
}

.product_menu_show  {
  .product_container {
    &__img {
      &--menu {
        li {
          top: 20px;
        }
        
      }
    }
  }
}
nav{
  
  @include mq(xlarge,max,true) {

    #nav {
      transition: all .6s;
      overflow-y: auto;
      padding-top: 40px;
      width: 300px;
      height: 100vh;
      z-index: 200;
      top: 0;
      right: -320px;
      background-color: $light_yellow;
      position: fixed;
      >li {
        &:first-child a {
          &:before {
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding-right: 1rem;
          }
        }

        &:last-child ul li:first-child {
          display: none;
        }
      }

      a {
        display: block;
        padding: 10px 0;
        
      }
    }


    @include navBtn();
    
  }

  .nav_bg {
    opacity: 0;
    transition: all .6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
  
  

  }
  

  .cart_area {
    @include navBtn();
    transition: .6s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    right: -150%;
    z-index: 400;
    width: 45%;
    height: 100vh;
    background-color: $light_pink;
    @include mq(xsmall) {
      min-width: 100%;
        padding: 10px 10px 80px 10px;
      @include mq(medium) {
        min-width: 60%;
        padding: 20px 20px 100px 20px;
        @include mq(large) {
          min-width: 45%;
          padding: 40px 40px 100px 40px;
        }
      }
    }

    
      h1 {
        font-size: 2.2rem;
        padding: 20px 0;
      }
      ul {
        li {
          margin: 3rem 0;
        }
        // width: 300px;
      }

      .cart {
        &__checkout {
          > a {
            display: block;
            background-color: $black;
            color: $light_yellow;
            font-weight: 700;
            font-size: 1.7rem;
            padding: 1.7rem;
            text-align: center;
            border-radius: 5px;
            &:hover {
              background-color: $pink;
              color: $light_yellow;
            }
          }
        }
        &__total {
          text-align: right;
          font-size: 2.2rem;
          font-weight: 700;
          > .price {
            font-size: 2.5rem;
            &::before {
              content: "￥";
            }
          }
        }
        
        &__product {
          font-size: 1.7rem;
          grid-column-gap: 3rem;
          display: grid;
          grid-template-rows: repeat(2,max-content);
          
          grid-template-columns: 120px 1fr 40px;
          @include mq(medium,max,true) {
            grid-template-columns: fit-content 1fr 40px;
          }
          justify-items: left;
          align-items: center;
          &:nth-child(4)  {
            .cart__product--img {
              background-image: url("../../img/coding/product_06.jpg");
            }
          }
          &:nth-child(5)  {
            .cart__product--img {
              background-image: url("../../img/coding/product_10.jpg");
            }
          }
          &:nth-child(6)  {
            .cart__product--img {
              background-image: url("../../img/coding/product_04.jpg");
            }
          }
          &:nth-child(7)  {
            .cart__product--img {
              background-image: url("../../img/coding/product_09.jpg");
            }
          }

          &--img {
            grid-row: 1 / 3;
            background-size: cover;
            background-position: center;
            width: 120px;
            height: 120px;
          }
          &--name {
            grid-row: 1;
            grid-column: 2;
          }
          &--price {
            align-self: start;
            grid-row: 2;
            grid-column: 2;
            font-weight: 700;
            &::before {
              content: "￥";
            }
            &::after {
              content: "× 1";
            }
          }
          &--delete {
            font-size: 2rem;
            grid-row: 1 / 3 ;
            grid-column: 3;
          }
  
        }

        &__view {
          > a {
            display: block;
            background-color: $light_pink;
            border: $black 1px solid;
            color: $black;
            font-weight: 700;
            font-size: 1.7rem;
            padding: 1.7rem;
            text-align: center;
            border-radius: 5px;
            &:hover {
              background-color: $light_pink;
              color: $pink;
              border: $pink 1px solid;
            }
          }
        }

      }

  }

  .nav_open,.cart_open,.modal_show {
    .nav_bg {
      opacity: .5;
      visibility: visible;
      z-index: 100;
    }
    .navBtn_line {
      &_1 {
        transform: rotate(45deg);
        top: 20px;
      }
      &_2 {
        width: 0;
        left: 50%;
      }
      &_3 {
        transform: rotate(-45deg);
        top: 20px;
      }
    }
  }

  .nav_open {
    nav #nav { right: 0; }  
    .modal { right: 0; z-index: 500;}

  }

  .cart_open {
    .cart_area {
      right: 0px;
    }
  }
  @include mq(xlarge,max,true) {
    .modal {
      z-index: 400;
      position: fixed;
      right: -320px;
      transition: all .6s;
      top: 270px;
      width:300px;
      height: 100px;

      &__content {

        position: relative;
        padding: 20px;
        margin: 0 auto;
        text-align: center;

        div {
          &:nth-child(2) {
            margin: 1rem 0;
            input[type=text] {
              width: 100%;
              padding: 10px 45px 10px 20px;
              border-radius: 50px;
              border: 1px solid $black;
              background-color: $black;
              font-size: 1.6rem;
              color: $light_yellow;
              transition: .5s;
              -webkit-appearance:none;
              &:focus {
                outline: none;
              }
            }

            button[type=submit] {
              -webkit-appearance:none;
              background: none;
              border: none;
              position: absolute;
              right: 30px;
              top: 69px;
              color: $light_yellow;
              font-size: 2rem;
              cursor: pointer;
              &:focus {
                outline: none;
              }
          }
          }

          &.selectWrap {
            position: relative;
            
            width: 100%;
            margin:0 auto;
            background-color: rgba($black, $alpha: 0);
            .select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: 1px solid $black;
              border-radius: 30px;
              padding: 5px 40px 5px 40px;
              width: 100%;
              outline: none;
              background: transparent;
              outline: none;
              font-size: 1.5rem;
              color: $black;
              letter-spacing: 2px;
              @include title_font();
                
            }
    
            &:after {
              content: '▼';
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 18px;
              color: $black;
              pointer-events: none;
            }
        }
        }
      }

      .js-modal-close {
        display: none;
      }
    } 

  }

  @include mq(xlarge) {
    .modal{
      position:fixed;
      width:600px;
      height:max-content;
      top:50%;
      left:50%;
      margin-left:-300px;
      margin-top:-92px;
      z-index: 300;
      display: none;
    }
  .modal__bg{
      background: rgba(0,0,0,0.8);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content{
    position: relative;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      div {
        &:nth-child(2) {
          margin: 2rem 0;
  
          input[type=text] {
            width: 100%;
            padding: 15px 40px;
            border-radius: 50px;
            border: 1px solid rgba($white, $alpha: 0);
            background-color: rgba($white, $alpha: 0.3);
            font-size: 2.2rem;
            color: $white;
            transition: .5s;
            &:focus {
              outline: none;
              border: 1px solid $white;
            }
          }
          button[type=submit] {
            background: none;
            border: none;
            position: absolute;
            right: 50px;
            top: 97px;
            color: $white;
            font-size: 2.2rem;
            &:focus {
              outline: none;
            }
        }
        
        
      }
  
  
      &.selectWrap {
          position: relative;
          margin-bottom: 2rem;
          width: 100%;
          margin:0 auto;
          background-color: rgba($black, $alpha: 0);
          .select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-radius: 50px;
            padding: 10px 40px 10px 40px;
            width: 100%;
            outline: none;
            background: rgba($white, $alpha: .3);
            outline: none;
            font-size: 2rem;
            color: $white;
            letter-spacing: 2px;
            @include title_font();
              
          }
  
          &:after {
            content: '▼';
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: $white;
            pointer-events: none;
          }
      }
      
      }
      // position:fixed;
      // width:600px;
      // height:400px;
      // top:50%;
      // left:50%;
      // margin-left:-300px;
      // margin-top:-200px;
  
      // left: 50%;
      // padding: 40px;
      // position: absolute;
      // top: 50%;
      // transform: translate(-50%,-50%);
      // width: 60%;

      .js-modal-close {
          font-size: 1.7rem;
          letter-spacing: 1px;
          font-weight: 700;
          color: $white;
          transition: .6s;
          &:hover {
            opacity: .5;
          }
      }
  }
  }

  