@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ubuntu+Condensed&display=swap');
$gray:#ccc;
$dark-gray:rgb(89, 89, 89);
$white:#FFF;
$black:#000;
@mixin balloon($balloon-bottom:0px,$balloon-left:0px) {
    position: absolute;
    bottom: $balloon-bottom;
    left: $balloon-left;
    z-index: 10;
    display: inline-block;
    padding: 5px 10px;
    width: max-content;
    display: none;
    font-size: 0.8em;
    background: $black;
    opacity: 0.8;
    border-radius: 7px;
    color: $white;

    

}
@mixin balloon-before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top: 8px solid $black;
}