doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title LEMON PRODUCTS | coding sample 2
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='.././assets/reset.css?28081308')
    link(rel='stylesheet', href='.././assets/coding-style/css/02.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css')
    script(src='https://kit.fontawesome.com/fd98ffa8b7.js', crossorigin='anonymous')
  body.coding_02
    .modal.js-modal
      .js-modal-close
      .modal__content
        .selectWrap
          select.select(name="category", required)
            option(value='category', selected='selected') CATEGORY
            option(value='furniture') FURNITURE
            option(value='life goods') LIFE GOODS
            option(value='plant') PLANT
            option(value='other') OTHER
        div
          input(type="text")
          button(type="submit") <i class="fas fa-search"></i>
        a.js-modal-close(href='') CLOSE
      // modal__inner
    include 02_header
    .contents
      .contents__top_banner_container.swiper-container
        .swiper-wrapper
          .swiper-slide 
            .swiper-slide__1
          .swiper-slide
            .swiper-slide__2
          .swiper-slide
            .swiper-slide__3
        .swiper-pagination.swiper-pagination-white
        .swiper-button-prev.swiper-button-white
        .swiper-button-next.swiper-button-white
      .contents__main_container
        a(href='')
        h1 
          | Featured Products
        .contents__main_container--featured_products
          .product_container
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 SILVER CHAIR
            span.product_container__price
              | 5,000
            span.product_container__genre
              a(href='')
                span furniture
            //
              <span class="product_container__addToCart">
              <a href="">ADD TO CART</a>
              </span>
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 YELLOW CONTAINER
            span.product_container__price.sale
              | 10,000
            span.product_container__genre
              | furniture
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 PINK LEAF
            span.product_container__price
              | 1,000
            span.product_container__genre
              | plant
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 CACTUS(small)
            span.product_container__price
              | 2,300
            span.product_container__genre
              | plant
        h1 New Collection
        .contents__main_container--new_collection
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 CORAL CHAIRS
            span.product_container__price
              | 36,000
            span.product_container__genre
              | furniture
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 RED PAN
            span.product_container__price
              | 2,400
            span.product_container__genre
              a(href='')
                span kitchen goods
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 SKY CANDY TRAY
            span.product_container__price
              | 1,200
            span.product_container__genre
              a(href='')
                span kitchen goods
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 WHITE CONTAINER
            span.product_container__price
              | 10,200
            span.product_container__genre
              a(href='')
                span furniture
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 ORANGE MEGAPHONE
            span.product_container__price
              | 5,000
            span.product_container__genre
              a(href='')
                span life goods
          .product_container
            a(href='')
            .product_container__img
              ul.product_container__img--menu
                li
                  a(href='')
                    i.fas.fa-cart-arrow-down
                li
                  a(href='')
                    i.fas.fa-eye
                li
                  a(href='')
                    i.far.fa-heart
            h3 YELLOW PHONE
            span.product_container__price
              | 6,500
            span.product_container__genre
              a(href='')
                span life goods
    include 02_footer
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js')
    script.
      function toggleNav() {
      var body = document.body;
      var navBtn = $('.nav_btn')[0];
      var blackBg = $('.nav_bg')[0];
      var cartLink = $('.cart_link')
      $(navBtn).on('click', function() {
      $(body).toggleClass('nav_open');
      });
      $(cartLink).on('click', function() {
      $(body).toggleClass('cart_open');
      });
      $('.js-modal-open').on('click', function() {
      $(body).toggleClass('modal_show');
      });
      $(blackBg).on('click', function() {
      $(body).removeClass('nav_open')
      .removeClass('cart_open');
      });
      $(blackBg).on('click', function() {
      $('.js-modal').fadeOut();
      $(body).removeClass('modal_show');
      });
      }
      toggleNav();
      $(function () {
      $('.product_container').hover(function() {
      $(this).find('li').slideDown(300);
      }, function(){
      $(this).find('li').slideUp(300);
      });
      $('.contents__main_container').on('click', function() {
      $(this).find('li').slideUp(300);
      });
      $('.js-modal-open').on('click',function(){
      $('.js-modal').fadeIn();
      return false;
      });
      $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        $(document.body).removeClass('modal_show');
      return false;
      });
      });
      var mySwiper = new Swiper ('.swiper-container', {
      loop: true, // 最後のスライドまで到達した場合、最初に戻らずに続けてスライド可能にするか。
      speed: 600, // スライドが切り替わるトランジション時間(ミリ秒)。

      direction: 'horizontal', // スライド方向。 'horizontal'(水平) か 'vertical'(垂直)。effectオプションが 'slide' 以外は無効。
      effect: 'slide', // "slide", "fade"(フェード), "cube"(キューブ回転), "coverflow"(カバーフロー) または "flip"(平面回転)
  
        // スライダーの自動再生
        // autoplay: true 　のみなら既定値での自動再生
      autoplay: {
        delay: 3000, // スライドが切り替わるまでの表示時間(ミリ秒)
        stopOnLast: false, // 最後のスライドまで表示されたら自動再生を中止するか
        disableOnInteraction: true // ユーザーのスワイプ操作を検出したら自動再生を中止するか
      },

  
      // ページネーションを表示する場合
      pagination: {
        el: '.swiper-pagination',　 // ページネーションを表示するセレクタ
      },
  
      // 前後スライドへのナビゲーションを表示する場合
      navigation: {
        nextEl: '.swiper-button-next', // 次のスライドボタンのセレクタ
        prevEl: '.swiper-button-prev', // 前のスライドボタンのセレクタ
      },
  
      // スクロールバーを表示する場合
      scrollbar: {
        el: '.swiper-scrollbar', // スクロールバーを表示するセレクタ
      }
      });
