nav
  h1#sitetitle 
    img(src="../assets/img/coding/lemon.svg")
    | LEMON PRODUCTS
  ul#nav
    li
      ul.nav_inner__left
        li
          a(href='') HOME
        li
          a(href='') BLOG
        li
          a(href='') COLLECTION
        li
          a(href='') CONTACT
    li
      ul.nav_inner__right
        li
          a.js-modal-open(href='')
            i.fas.fa-search
        //
          <li class="favorite">
          <a href="">
          <i class="far fa-heart"></i>
          </a>
          </li>
          <li class="cart_link">
          <i class="fas fa-shopping-cart"></i>
          </li>
        li
          a(href='')
            i.fas.fa-user
  ul#circleBtn
    li.favorite
      a(href='')
        i.far.fa-heart
    li.cart_link
      i.fas.fa-shopping-cart
  #nav_btn.nav_btn
    span.navBtn_line.navBtn_line_1
    span.navBtn_line.navBtn_line_2
    span.navBtn_line.navBtn_line_3
  #nav_bg.nav_bg